<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
></script>

<style>
  .slick-track{
    width:100%;
  }
  /* Set width and fix overflow */
  .banner-images-slider {
    max-width: 100%; /* Restrict the full width */
    margin: 0 auto; /* Center the slider */
    overflow: hidden; /* Prevent overflow */
  }

  /* Set a proper size for slick slides */
  .banner-images-slider .slick-slide img {
    width: 100%; /* Make the image responsive */
    height: auto;
    display: block; /* Ensure the image behaves as block */
  }

  /* Optional: you can add specific heights or sizes */
  .banner-images-slider img {
    max-width: 150px !important; /* Keep it as needed */
    height:100px;
  } 
  .slick-track {
    display:flex !important;
    gap:30px;
     align-items:center;
  }
  .banner-images-slider-main{
    display:flex;
  }
  .slick-slide img{
    border-radius:0px !important; 
  }
  h4.banner-images-slider-heading{
        font-family: "Brother1816 Printed Bold";
        font-size: 22px;
        font-weight: 500;
        line-height: 30.8px;
        text-align: center;
        margin: 0;
    width: 600px;
        color: #000;
  }
  .banner-images-slider {
    visibility: hidden;
}

  @media screen and (max-width: 750px) {
     h4.banner-images-slider-heading{
       width: auto;
     }
  }
</style>

 
  <h4 class='banner-images-slider-heading'>Featured On:</h4>
  <div class='banner-images-slider'>
    <div class='logo-slide'>
      <img src="{{ block.settings.logo1 | img_url:'master' }}" alt="Car-Image">
    </div>
    <div class='logo-slide'>
    <img src="{{ block.settings.logo2 | img_url:'master' }}" alt="Car-Image">
    </div>
      <div class='logo-slide'>
    <img src="{{ block.settings.logo3 | img_url:'master' }}" alt="Car-Image">
          </div>
        <div class='logo-slide'>
    <img src="{{ block.settings.logo4 | img_url:'master' }}" alt="Car-Image">
            </div>
          <div class='logo-slide'>
    <img src="{{ block.settings.logo5 | img_url:'master' }}" alt="Car-Image">
              </div>
    <div class='logo-slide'>
      <img src="{{ block.settings.logo3 | img_url:'master' }}" alt="Car-Image">
     </div>
  </div>
 
<script>
    $(document).ready(function () {
        $('.banner-images-slider').on('init', function () {
            $('.slick-frame, .banner-images-slider').css('visibility', 'visible');
            console.log('init event fired'); // Log when the init event is fired
        });

        $('.banner-images-slider').slick({
            dots: false,
            infinite: true,
            loop:true,
            speed: 2000,
            slidesToShow: 5,
            autoplay: true,
            arrows: false,
            autoplaySpeed: 2000,
            slidesToScroll: 1,
            nextArrow: '<i class="next-one"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="18.8889" fill="#1F6223" stroke="#F2F9F3" stroke-width="2.22222"/><path d="M22.1191 15.4551L26.6635 20.0005L22.1191 24.546" stroke="white" stroke-width="1.51394" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M13.6357 20H25.3085" stroke="white" stroke-width="1.51394" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></i>',
            prevArrow: '<i class="next-one-next"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="18.8889" transform="matrix(-1 0 0 1 40 0)" fill="#1F6223" stroke="#F2F9F3" stroke-width="2.22222"/><path d="M17.8809 15.4551L13.3365 20.0005L17.8809 24.546" stroke="white" stroke-width="1.51394" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.3643 20H14.6915" stroke="white" stroke-width="1.51394" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></i>',
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                         autoplaySpeed: 700,
                         speed: 700,
                        dots: false,
                        arrows: false,
                        nextArrow: '<i class="next-one"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M7.42773 16.6062L12.8611 11.1729C13.5027 10.5312 13.5027 9.48125 12.8611 8.83958L7.42773 3.40625" stroke="white" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></i>',
                        prevArrow: '<i class="next-one-next"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M12.5723 16.6062L7.13893 11.1729C6.49726 10.5312 6.49726 9.48125 7.13893 8.83958L12.5723 3.40625" stroke="white" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg></i>',
                    }
                }
            ]
        });
    });
</script>
<script>
    window.onload = function() {
        setTimeout(function() {
            document.querySelector('.banner-images-slider').style.visibility = 'visible';
        }, 5000); // 5000 milliseconds = 5 seconds
    };
</script>

 


