{% liquid
  assign quantity = quantity | default: 1

  if variant.title contains 'lb'
    assign weight = variant.title | remove_first: 'lb' | strip | times: 1
    assign unit_price = variant.price | divided_by: weight
  endif
%}

<variant-quantity>
  <div class="variant-quantity-wrapper">
    <input
      type="radio"
      id="variant-quantity-{{ variant.id }}-{{ quantity }}"
      name="variant-quantity"
      class="js-variant-quantity"
      value="{{ variant.id }}"
      data-product="{{ variant.product.id }}"
      data-quantity="{{ quantity }}"
      data-price="{{ variant.price }}"
      data-note="{% if quantity > 1%}({{ weight | times: quantity }}{{ quantity | pluralize: 'lb', 'lbs' }} = {{ quantity }} x {{ variant.title }}){% endif %}"
      data-fulfillment-count="{% if quantity > 1%}1{% endif %}"
    >

    <label
      for="variant-quantity-{{ variant.id }}-{{ quantity }}"
      class="variant-quantity-wrapper-variant-wrapper"
    >
      <div class="variant-quantity-radio"></div>

      <div class="variant-quantity-variant">
        <div class="best-deal-wrapper">
          <div class="variant-quantity-variant-name">
            {{ weight | times: quantity }}
            {{ quantity | pluralize: 'lb', 'lbs' }}
          </div>
          {% for tag in variant.product.tags %}
            {% if tag contains 'badge' %}
              <div class="beast-deal">{{ tag | remove: 'badge:' | strip }}</div>
            {% endif %}
          {% endfor %}
        </div>

        {% if variant.metafields.custom.subtitle != blank %}
          <div class="variant-quantity-variant-month">{{ variant.metafields.custom.subtitle }}</div>
        {% endif %}
      </div>

      <div class="variant-quantity-price-weight">
        <div class="variant-quantity-price">
          {% if variant.compare_at_price != blank and variant.compare_at_price > variant.price %}
            <div class="variant-quantity-price-compare">{{ variant.compare_at_price | times: quantity | ceil | money }}</div>
          {% endif %}
          <div class="variant-quantity-price-regular">{{ variant.price | times: quantity | money }}</div>
        </div>
        <div class="variant-quantity-weight">({{ unit_price | money }} / lb)</div>
      </div>
    </label>


{% if variant.compare_at_price != blank and variant.compare_at_price > variant.price %}
  {% assign savings = variant.compare_at_price | minus: variant.price %}
      <div class="discount-percent-wrapper">
        <img
          src="{{ 'tag.png' | asset_url }}"
          class="w-100"
          width="100%"
          height="auto"
          loading="lazy"
        >
        <div class="discout-percent">Save {{ savings | times: quantity | money }}</div>
      </div>
    {% endif %}
  </div>
</variant-quantity>




{% comment %}
{% if variant.compare_at_price != blank and variant.compare_at_price > variant.price %}
{% assign savings = variant.compare_at_price
  | minus: variant.price
  | times: 100
  | divided_by: variant.compare_at_price
%}
<div class="discount-percent-wrapper">
  <img
    src="{{ 'tag.png' | asset_url }}"
    class="w-100"
    width="100%"
    height="auto"
    loading="lazy"
  >
  <div class="discout-percent">-{{ savings }}%</div>
</div>
{% endif %}
{% endcomment %}
