{{ 'pdp-buy-box-hen-harmoney.css' |  asset_url |  stylesheet_tag  }}

<style>
    #buy_box_form #appstle_subscription_widget0{
        display: none;
    }
    #buy_box_form .appstle_subscription_final_price,
    #buy_box_form .appstle_subscription_save{
        display: none;
    }
    
</style>
<section class="new_pdp_buy_box">
    <div class="buy_box_wrapper">
        {% assign selected_product = all_products['grubterra-dried-black-soldier-fly-larvae-10lb-copy'] %}
        {%- assign current_variant = selected_product.selected_or_first_available_variant -%}
        <div class="buy_box_innerwrapper">
            <div class="buy_box_content">
                <div class="bb_content_inner">                        
                    <div class="but_box_main">                                  
                        <div class="bb_title">
                            <h2>1. Select Your Flock Size</h2>
                        </div>       
                        <div class="flock_size_wrapper bag_size">
                            {% for option in selected_product.options_with_values  %}    
                                {% if option.name == 'Flock Size' %}
                                     <div class="flock_options one_time" style="display: none;">     
                                        {% for variant in selected_product.variants %}   
                                            {% assign forloop_index_count = forloop.index %}      
                                            {% assign value = variant.option1 %}                                  
                                            <div class="gt-prod-var-box-sub {% if forloop_index_count == 1 %}active{% endif %}">
                                                <div class="flock_item">
                                                    <input 
                                                    type="radio"
                                                    class="f_radio"
                                                    name="flock-size-one"
                                                    id="one-{{ value | handle }}"
                                                    value="{{ value }}"
                                                    data-original-price="{{ variant.price | money }}"
                                                    {% if variant.compare_at_price %}
                                                        data-compareat-price="{{ variant.compare_at_price | money }}"
                                                    {% endif %}
                                                    {% if variant.available %}
                                                        data-instock="true"
                                                    {% else %}
                                                        data-instock="false"
                                                    {% endif %}
                                                    {% if forloop.first %}checked{% endif %}
                                                    data-variant-id="{{ variant.id }}"
                                                    >
                                                    <div class="gt-prod-var-content">
                                                        <label for="one-{{ value | handle }}">
                                                            <div class="flock_info">
                                                                <div class="info_wrap">
                                                                    <div class="f_size">
                                                                        <div class="val_wrap">
                                                                            <p>{{ value }}</p>
                                                                            {% if forloop.first %}
                                                                                <span>[Recommended for flocks 1-6]</span>
                                                                            {% elsif forloop.index == 2 %}
                                                                                <span>[Recommended for flocks 7-11]</span>
                                                                            {% elsif forloop.index == 3 %}
                                                                                <span>[Recommended for flocks 12-17]</span>
                                                                            {% elsif forloop.index == 4 %}
                                                                                <span>[Recommended for flocks 18-24+]</span>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="f_price">  
                                                                        {% assign parts = value | split: ' ' %}
                                                                        {% assign weight_part = parts[0] %}
                                                                        {% assign weight = weight_part | split: 'lbs' | first | plus: 0 %}
                                                                        {% assign multiplier = weight | divided_by: 5 %}
                                                                        {% assign price_per_5lbs = variant.price | divided_by: multiplier %}
                                                                        <p class="gt-price" data-appstle-ignore="true">{{ price_per_5lbs | money }} <span>per 5lbs</span></p>
                                                                    </div>  
                                                                </div>                                                              
                                                                {% if variant.compare_at_price > variant.price %}
                                                                    {% assign discount_amount = variant.compare_at_price | minus: variant.price %}
                                                                    {% assign discount_percent = discount_amount | times: 100 | divided_by: variant.compare_at_price %}

                                                                    <div class="save_price" data-appstle-ignore="true">
                                                                        <p>
                                                                            Save 
                                                                            <span>
                                                                            {{ discount_percent | round }}%
                                                                            </span>
                                                                        </p>
                                                                        {% if forloop.index == 2 %}
                                                                            <span class="populer">Most popular</span>
                                                                        {% elsif forloop.index == 3 %}
                                                                            <span class="populer">Best Value</span>
                                                                        {% elsif forloop.index == 4 %}
                                                                            <span class="populer">Super Value</span>     
                                                                        {% endif %}
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                     <div class="flock_options subscribe">    
                                        {% for variant in selected_product.variants %}
                                            {% assign forloop_index_count = forloop.index %}
                                            {% assign value = variant.option1 %}
                                            {% assign allocation = variant.selling_plan_allocations.first %}
                                            {% assign subscription_price = allocation.price %}

                                            <div class="gt-prod-var-box-sub {% if forloop_index_count == 1 %}active{% endif %}">
                                                <div class="flock_item">
                                                    <input 
                                                    type="radio"
                                                    class="f_radio"
                                                    name="flock-size-sub"
                                                    id="ss-{{ value | handle }}"
                                                    value="{{ value }}"
                                                    data-original-price="{{ variant.price | money }}"
                                                    data-selling-price="{{ subscription_price |  money }}"
                                                    {% if variant.compare_at_price  %}
                                                        data-compareat-price="{{ variant.compare_at_price | money }}"
                                                    {% endif %}
                                                    {% if variant.available %}
                                                        data-instock="true"
                                                    {% else %}
                                                        data-instock="false"
                                                    {% endif %}
                                                    {% if forloop.first %}checked{% endif %}
                                                    data-variant-id="{{ variant.id }}"
                                                    >
                                                   
                                                    <div class="gt-prod-var-content">
                                                        <label for="ss-{{ value | handle }}">
                                                            <div class="flock_info">
                                                                <div class="info_wrap">
                                                                    <div class="f_size">
                                                                        <div class="val_wrap">
                                                                            <p>{{ value }}</p> 
                                                                            {% if forloop.first %}
                                                                                <span>[Recommended for flocks 1-6]</span>
                                                                            {% elsif forloop.index == 2 %}
                                                                                <span>[Recommended for flocks 7-11]</span>
                                                                            {% elsif forloop.index == 3 %}
                                                                                <span>[Recommended for flocks 12-17]</span>
                                                                            {% elsif forloop.index == 4 %}
                                                                                <span>[Recommended for flocks 18-24+]</span>
                                                                            {% endif %}
                                                                        </div>
                                                                        {% comment %} <span class="frequency">{{ selling_plan.name | remove: 'Delivery '  }}</span>  {% endcomment %}
                                                                    </div>
                                                                    <div class="f_price">  
                                                                        {% assign parts = value | split: ' ' %}
                                                                        {% assign weight_part = parts[0] %}
                                                                        {% assign weight = weight_part | split: 'lbs' | first | plus: 0 %}
                                                                        {% assign multiplier = weight | divided_by: 5 %}
                                                                        {% assign price_per_5lbs = subscription_price | divided_by: multiplier %}
                                                                        <p class="gt-price" data-appstle-ignore="true">{{ price_per_5lbs | money }} <span>per 5lbs</span></p>
                                                                    </div>  
                                                                </div>
                                                               

                                                                {% if variant.compare_at_price > subscription_price %}
                                                                    {% assign discount_amount = variant.compare_at_price | minus: subscription_price %}
                                                                    {% assign discount_percent = discount_amount | times: 100 | divided_by: variant.compare_at_price %}
                                                                    <div class="save_price" data-appstle-ignore="true">
                                                                        <p>Save <span>{{ discount_percent | round }}%</span></p>
                                                                        {% if forloop.index == 2 %}
                                                                            <span class="populer">Most popular</span>
                                                                        {% elsif forloop.index == 3 %}
                                                                                <span class="populer">Best Value</span>
                                                                        {% elsif forloop.index == 4 %}
                                                                            <span class="populer">Super Value</span>     
                                                                        {% endif %}
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>            
                        <select class="select-variant" id="variant-options" style="display:none"> 
                            {% for variant in selected_product.variants %}
                                <option value="{{ variant.id }}" {% if forloop.first %}selected="selected"{% endif %}>{{ variant.title }}</option>
                            {% endfor %}
                        </select>
                        
                        <div class="bb_title">
                            <h2>2. Choose your frequency</h2>
                        </div>
                        <div class="bb_frequancy_wrapper">
                            <div class="bb_frequancy_inner">
                                <div class="bbfreq_radio_wrapper">
                                    <div class="subs_label_inner">
                                        <img class="best_val_img" width="21" height="21" src="//cdn.shopify.com/s/files/1/0046/3716/3633/files/chicken-img.webp?v=1772692433">  
                                    <span>Best Value</span>
                                    </div>
                                    <input type="radio" id="subcribe" name="frequancy-radio" checked="checked" value="subscribe">
                                    <label for="subcribe" class="subscribe-label">
                                        <div class="frq_info">
                                            <p>Subscribe & save 10%</p>
                                        </div>
                                        <div class="frequancy_details">
                                           <select name="select_frequancy" id="frquancy">
                                                    {% for group in selected_product.selling_plan_groups %}
                                                    {% for plan in group.selling_plans %}
                                                        {% assign subloop = forloop.index %}
                                                            <option value="{{ plan.id }}" {% if subloop == 2 %} selected="selected"{% endif %}>
                                                                {{ plan.name }}
                                                            </option>
                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                            {% if section.settings.subsbenifit != blank %}
                                                <div class="ss_info_wrapper">
                                                    {{ section.settings.subsbenifit  }}
                                                </div>
                                            {% endif %}
                                        </div> 
                                    </label>
                                </div>
                                <div class="bbfreq_radio_wrapper">
                                    <input type="radio" id="one-time" name="frequancy-radio" value="onetime">
                                    <label for="one-time" class="one-time-label">
                                        <div class="frq_info">
                                            <p>One Time Purchase</p>                                            
                                        </div>
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                    <form method="post" action="{{ routes.cart_url }}" id="buy_box_form" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form">
                        <input type="hidden" name="form_type" value="product">
                        <input type="hidden" name="utf8" value="✓">
                        <input type="hidden" name="id" value="{{  current_variant.id }}" class="product-variant-id" data-quantity="1">
                        <div class="product-form__buttons ">
                            <button id="ProductSubmitButton-template--19995845492930__main" type="submit" name="add" class="product-form__submit button button--full-width button--primary" aria-haspopup="dialog">
                                {% if current_variant.available %} 
                                    <span>Add to cart- </span>
                                            {% else %}
                                    <span>Sold Out-</span>
                                {% endif %}
                                <div class="gt-product-price">                                            
                                    <div class="compare-price">{{ current_variant.compare_at_price |  money_without_trailing_zeros }}</div>                                                                                          
                                    <div class="price">{{ current_variant.price |  money_without_trailing_zeros }}</div>                                                                                            
                                </div> 
                                <div class="loader">
                                    <img src="//cdn.shopify.com/s/files/1/0046/3716/3633/files/loader.gif?v=1772538563" alt="" width="" height="">
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("change", function(e) {
       if (e.target.matches(".f_radio")) {
            const parentWrapper = e.target.closest(".flock_options");
            parentWrapper.querySelectorAll(".gt-prod-var-box-sub")
            .forEach(box => box.classList.remove("active"));
            e.target.closest(".gt-prod-var-box-sub")
            .classList.add("active");
        }
    });
</script>

<script>
    function updateProductUI(){
        // price update
        updatePrice();

        // stock check
        let selected = $('.bag_size .flock_options:visible input:checked');
        let instock = selected.attr('data-instock');

        // UPDATE VARIANT ID
        let variant_id = selected.data('variant-id');
        $('.product-variant-id').val(variant_id);

        // STOCK CHECK
        if(instock == 'false'){

            $('.product-form__submit')
            .prop('disabled', true)
            .find('span')
            .text('Sold Out');

        }else{

            $('.product-form__submit')
            .prop('disabled', false)
            .find('span')
            .text('Add to cart-');

        }
    }
    
    function updatePrice(){
        let fre_op = $('.bb_frequancy_inner input:checked').val();
        let selected;
        let price;

        if(fre_op == 'subscribe'){
            selected = $('.bag_size .flock_options.subscribe input:checked');
             price = selected.attr('data-selling-price');
        }else{
            selected = $('.bag_size .flock_options.one_time input:checked');
            price = selected.attr('data-original-price');
        }
                
        let compare_price = selected.attr('data-compareat-price');
        $('.gt-product-price .price').text(price);
        if(compare_price){
            $('.gt-product-price .compare-price')
            .text(compare_price)
            .show();
        }else{
            $('.gt-product-price .compare-price').hide();
        }
    }


    // After page load all data sync 
    $(document).ready(function(){
        setTimeout(function(){
            updateProductUI();
            $(document).on('change', '.f_radio', function(){
                updateProductUI();
            });
                                        
            $(document).on('click', '.bb_frequancy_inner .bbfreq_radio_wrapper input', function(){
                let type = $(this).val();

                if(type == 'onetime'){
                    $('.flock_options.one_time').show();
                    $('.flock_options.subscribe').hide();
                }else{
                    $('.flock_options.one_time').hide();
                    $('.flock_options.subscribe').show();
                }
                updateProductUI();      
            });

            $('.product-form__submit').on('click',function(e){
                e.preventDefault();
                let $this = $(this);
                if($this.is(':disabled')) return;

                $this.prop('disabled',true);
                $this.find('.loader').addClass('show');

                var itemsArray = [];
                let var_id = $('.product-variant-id').val();
                var fre_op =  $('.bb_frequancy_inner .bbfreq_radio_wrapper input:checked').val();

                if(fre_op == 'onetime'){
                    itemsArray.push({
                        id: var_id,
                        quantity: 1
                    });
                }else{
                var selling_plan_id = $('#frquancy option:selected').val();     
                    itemsArray.push({
                        id: var_id,
                        quantity: 1,
                        selling_plan: selling_plan_id
                    });
                }

                $.ajax({
                    url: '/cart/add.js',
                    method: "POST",
                    dataType: "JSON",
                    data: { items: itemsArray },
                    success: function (data) {
                        fetch(`${window.location.pathname}?sections=cart-drawer,cart-icon-bubble`)
                            .then(response => response.json())
                            .then((sections) => {
                                // Update cart bubble
                                const cartBubble = document.querySelector('#cart-icon-bubble');
                                const newBubble = new DOMParser()
                                    .parseFromString(sections['cart-icon-bubble'], 'text/html')
                                    .querySelector('#cart-icon-bubble');

                                if (cartBubble && newBubble) {
                                    cartBubble.innerHTML = newBubble.innerHTML;
                                }

                                // Update cart drawer
                                const cartDrawer = document.querySelector('cart-drawer');
                                if (cartDrawer) {
                                    cartDrawer.renderContents({
                                        sections: sections
                                    });
                                }
                                document.querySelector('#cart-icon-bubble').click();    
                        });

                    },

                    error: function () {

                        alert('Something went wrong. Please try again.');

                    },

                    complete: function(){

                        $this.find('.loader').removeClass('show');
                        $this.prop('disabled', false);

                    }

                });

            });
        },200);
    });
</script>
 <script>
    window.addEventListener("load", function () {
        const sectionToMove = document.querySelector('#buy_box_form');
        const targetSection = document.querySelector('[data-extra-section="add-on"]');

        if (sectionToMove && targetSection) {
            targetSection.after(sectionToMove);
        }
    });
</script>
{% schema %}
{
    "name": "PDP Buy Box Hen harmoney",
    "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "product"
        },
         {
            "type": "textarea",
            "id": "subsbenifit",
            "label": "Subscription benifit Info",
            "default": "<p>🎁 Bonus First Order Discount, Then 10% Off For Life</p><p>🔄 No Contract – Easily Pause Or Cancel</p><p>🚚 Free Shipping Protection</p><p>🐔 Exclusive Access To New Products</p><p>💰 30 Day Money-Back Guarantee</p>"
        }
    ],
    "presets": [
        {
        "name": "PDP Buy Box Hen harmoney"
        }
    ]
}
{% endschema %}