{{ 'pdp-buy-box-hen-harmoney.css' |  asset_url |  stylesheet_tag  }}

<style>
    #buy_box_form #appstle_subscription_widget0{
        display: none;
    }
    #buy_box_form .appstle_subscription_final_price,
    #buy_box_form .appstle_subscription_save{
        display: none;
    }
    
</style>
<section class="new_pdp_buy_box">
    <div class="buy_box_wrapper">
        {% assign selected_product = all_products['hen-harmony-the-daily-all-in-one-supplement-for-flock-resilience-test-product'] %}
        {%- assign current_variant = selected_product.selected_or_first_available_variant -%}
        <div class="buy_box_innerwrapper">
            <div class="buy_box_content">
                <div class="bb_content_inner">                        
                    <div class="but_box_main">
                        <div class="bb_title">
                            <h2>1. How many chickens do you have?</h2>
                        </div>                            
                         <div class="flock_size_wrapper chicken_size">
                            {% for option in selected_product.options_with_values  %}                               
                                {% if option.name == 'Chicken Size' %}
                                    <div class="flock_options">                               
                                        {% for value in option.values %}                     
                                            {% assign forloop_index_count = forloop.index %}
                                            <div class="gt-prod-var-box-sub {% if forloop_index_count == 1 %}active{% endif %}">
                                                <div class="flock_item">
                                                    <input 
                                                    type="radio"
                                                    class="v_radio"
                                                    name="{{ option.name | replace: ' ','-' |  downcase }}"
                                                    id="{{ value | downcase | replace: ' ','-' }}"
                                                    value="{{ value }}"
                                                    {% if forloop.first %}checked{% endif %}
                                                    >

                                                    <div class="gt-prod-var-content">
                                                    <label for="{{ value | downcase | replace: ' ','-' }}">
                                                        <div class="flock_info">
                                                            <div class="f_size">
                                                                <p>{{ value }}</p>
                                                            </div>
                                                        </div>
                                                    </label>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>             
                        <div class="bb_title">
                            <h2>2. Select Your Flock Size</h2>
                        </div>       
                          <div class="flock_size_wrapper bag_size">
                            {% for option in selected_product.options_with_values  %}    
                                {% if option.name == 'Flock Size' %}
                                     <div class="flock_options one_time" style="display: none;">     
                                        {% assign chicken_values = selected_product.options_with_values[0].values %}
                                        {% for chicken in chicken_values %}
                                            {% for value in option.values %}       
                                                {% assign forloop_index_count = forloop.index %}
                                                {% for variant in selected_product.variants %}
                                                    {% if variant.option1 == chicken and variant.option2 == value %}
                                                        {% assign matched_variant = variant %}
                                                        {% break %}
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="gt-prod-var-box-sub {% if forloop_index_count == 1 %}active{% endif %}">
                                                    <div class="flock_item">
                                                        <input 
                                                        type="radio"
                                                        class="f_radio"
                                                        name="{{ option.name | replace: ' ','-' |  downcase }}-one"
                                                        id="{{ chicken | handle }}-{{ value | handle }}"
                                                        value="{{ value }}"        
                                                        data-original-price="{{ matched_variant.price | money }}"
                                                        {% if matched_variant.compare_at_price > matched_variant.price %}
                                                            data-compareat-price="{{ matched_variant.compare_at_price | money }}"
                                                        {% endif %}
                                                        {% if chicken == chicken_values.first and forloop.first %}checked{% endif %}                                            
                                                        {% if matched_variant.available   %}
                                                        data-instock="true" 
                                                        {% else %}
                                                        data-instock="false" 
                                                        {% endif %}
                                                        data-chicken="{{ matched_variant.option1 }}"
                                                        >

                                                        <div class="gt-prod-var-content">
                                                            <label for="{{ chicken | handle }}-{{ value | handle }}">
                                                                <div class="flock_info">
                                                                    <div class="info_wrap">
                                                                        <div class="f_size">
                                                                            <div class="val_wrap">
                                                                                <p>{{ value }}</p>
                                                                                <span>{{ matched_variant.option1 }} Flocks</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="f_price">  
                                                                        {% assign parts = value | split: ' ' %}
                                                                            {% assign weight_part = parts[1] %}
                                                                            {% assign weight = weight_part | split: 'lbs' | first | plus: 0 %}
                                                                            {% assign multiplier = weight | divided_by: 5 %}
                                                                            {% assign price_per_5lbs = matched_variant.price | divided_by: multiplier %}
                                                                            <p class="price">{{ price_per_5lbs | money }} <span>for 5lbs</span></p>
                                                                        </div>  
                                                                    </div>                                                              
                                                                    {% if matched_variant.compare_at_price > matched_variant.price %}
                                                                        {% assign discount_amount = matched_variant.compare_at_price | minus: matched_variant.price %}
                                                                        {% assign discount_percent = discount_amount | times: 100 | divided_by: matched_variant.compare_at_price %}

                                                                        <div class="save_price">
                                                                            <p>
                                                                                Save 
                                                                                <span>
                                                                                {{ discount_percent | round }}%
                                                                                </span>
                                                                            </p>
                                                                            {% if forloop.index == 2 %}
                                                                                <span class="populer">Most popular</span>
                                                                            {% elsif forloop.index == 3 %}
                                                                                <span class="populer">Best Value</span>
                                                                            {% elsif forloop.index == 4 %}
                                                                                <span class="populer">Super Value</span>     
                                                                            {% endif %}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        </div>
                                     <div class="flock_options subscribe">    
                                           {% assign chicken_values = selected_product.options_with_values[0].values %}
                                            {% for chicken in chicken_values %}                               
                                            {% for value in option.values %}                     
                                                {% assign forloop_index_count = forloop.index %}
                                                    {% for variant in selected_product.variants %}
                                                        {% if variant.option1 == chicken and variant.option2 == value %}
                                                            {% assign matched_variant = variant %}
                                                            {% break %}
                                                        {% endif %}
                                                    {% endfor %}                                                

                                                    {% assign selling_plan_group = blank %}

                                                    {% for group in selected_product.selling_plan_groups %}
                                                    {% for allocation in matched_variant.selling_plan_allocations %}
                                                        {% if allocation.selling_plan_group_id == group.id %}
                                                        {% assign selling_plan_group = group %}
                                                        {% break %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% endfor %}

                                                    {% assign selling_plan = selling_plan_group.selling_plans[forloop.index0] %}

                                                    {% assign subscription_price = matched_variant.price %}

                                                    {% if selling_plan.price_adjustments.first.value_type == 'percentage' %}
                                                        {% assign discount = matched_variant.price | times: selling_plan.price_adjustments.first.value | divided_by: 100 %}
                                                        {% assign subscription_price = matched_variant.price | minus: discount %}
                                                    {% elsif selling_plan.price_adjustments.first.value_type == 'fixed_amount' %}
                                                        {% assign subscription_price = matched_variant.price | minus: selling_plan.price_adjustments.first.value %}
                                                    {% endif %}

                                                <div class="gt-prod-var-box-sub {% if forloop_index_count == 1 %}active{% endif %}">
                                                    <div class="flock_item">
                                                        <input 
                                                        type="radio"
                                                        class="f_radio"
                                                        name="{{ option.name | replace: ' ','-' |  downcase }}-sub"
                                                        id="ss-{{ chicken | handle }}-{{ value | handle }}"
                                                        value="{{ value }}"
                                                        {% if chicken == chicken_values.first and forloop.first %}checked{% endif %}
                                                        data-original-price="{{ matched_variant.price | money }}"   
                                                        data-selling-price="{{ subscription_price | money }}"    
                                                        {% if matched_variant.compare_at_price > subscription_price %}
                                                            data-compareat-price="{{ matched_variant.compare_at_price | money }}"
                                                        {% endif %}
                                                        {% if matched_variant.available   %}
                                                        data-instock="true" 
                                                        {% else %}
                                                            data-instock="false" 
                                                        {% endif %}
                                                        data-selling-plan="{{ selling_plan.id  }}"
                                                        data-chicken="{{ matched_variant.option1 }}"
                                                        >

                                                        <div class="gt-prod-var-content">
                                                            <label for="ss-{{ chicken | handle }}-{{ value | handle }}">
                                                                <div class="flock_info">
                                                                    <div class="info_wrap">
                                                                        <div class="f_size">
                                                                            <div class="val_wrap">
                                                                                <p>{{ value }}</p> 
                                                                                <span>{{ matched_variant.option1 }} Flocks</span>
                                                                            </div>
                                                                            <span class="frequency">{{ selling_plan.name | remove: 'Delivery '  }}</span> 
                                                                        </div>
                                                                        <div class="f_price">  
                                                                            {% assign parts = value | split: ' ' %}
                                                                            {% assign weight_part = parts[1] %}
                                                                            {% assign weight = weight_part | split: 'lbs' | first | plus: 0 %}
                                                                            {% assign multiplier = weight | divided_by: 5 %}
                                                                            {% assign price_per_5lbs = subscription_price | divided_by: multiplier %}
                                                                            <p class="price">{{ price_per_5lbs | money }} <span>for 5lbs</span></p>
                                                                        </div>  
                                                                    </div>
                                                                    
                                                                    {% if matched_variant.compare_at_price > subscription_price %}
                                                                        {% assign discount_amount = matched_variant.compare_at_price | minus: subscription_price %}
                                                                        {% assign discount_percent = discount_amount | times: 100 | divided_by: matched_variant.compare_at_price %}
                                                                        <div class="save_price">
                                                                            <p>Save <span>{{ discount_percent | round }}%</span></p>
                                                                            {% if forloop.index == 2 %}
                                                                                <span class="populer">Most popular</span>
                                                                            {% elsif forloop.index == 3 %}
                                                                                    <span class="populer">Best Value</span>
                                                                            {% elsif forloop.index == 4 %}
                                                                                <span class="populer">Super Value</span>     
                                                                            {% endif %}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>            
                        <select class="select-variant" id="variant-options" style="display:none"> 
                            {% for variant in selected_product.variants %}
                                <option value="{{ variant.id }}" {% if forloop.first %}selected="selected"{% endif %}>{{ variant.title }}</option>
                            {% endfor %}
                        </select>
                        
                        <div class="bb_title">
                            <h2>3. Choose your frequency</h2>
                        </div>
                        <div class="bb_frequancy_wrapper">
                            <div class="bb_frequancy_inner">
                                <div class="bbfreq_radio_wrapper">
                                    <div class="subs_label_inner">
                                        <img class="best_val_img" width="21" height="21" src="//cdn.shopify.com/s/files/1/0046/3716/3633/files/chicken-img.webp?v=1772692433">  
                                    <span>Best Value</span>
                                    </div>
                                    <input type="radio" id="subcribe" name="frequancy-radio" checked="checked" value="subscribe">
                                    <label for="subcribe" class="subscribe-label">
                                        <div class="frq_info">
                                            <p>Subscribe & save 20%</p>
                                        </div>
                                        <div class="frequancy_details">
                                            {% comment %} <select name="select_frequancy" id="frquancy">
                                                    {% for group in selected_product.selling_plan_groups %}
                                                    {% for plan in group.selling_plans %}
                                                        {% assign subloop = forloop.index %}
                                                            <option value="{{ plan.id }}" {% if subloop == 1 %} selected="selected"{% endif %}>
                                                                {{ plan.name }}
                                                            </option>
                                                    {% endfor %}
                                                {% endfor %}
                                            </select> {% endcomment %}
                                            {% if section.settings.subsbenifit != blank %}
                                                <div class="ss_info_wrapper">
                                                    {{ section.settings.subsbenifit  }}
                                                </div>
                                            {% endif %}
                                        </div> 
                                    </label>
                                </div>
                                <div class="bbfreq_radio_wrapper">
                                    <input type="radio" id="one-time" name="frequancy-radio" value="onetime">
                                    <label for="one-time" class="one-time-label">
                                        <div class="frq_info">
                                            <p>One Time Purchase</p>                                            
                                        </div>
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                    <form method="post" action="{{ routes.cart_url }}" id="buy_box_form" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form">
                        <input type="hidden" name="form_type" value="product">
                        <input type="hidden" name="utf8" value="✓">
                        <input type="hidden" name="id" value="{{  current_variant.id }}" class="product-variant-id" data-quantity="1">
                        <div class="product-form__buttons ">
                            <button id="ProductSubmitButton-template--19995845492930__main" type="submit" name="add" class="product-form__submit button button--full-width button--primary" aria-haspopup="dialog">
                                {% if current_variant.available %} 
                                    <span>Add to cart- </span>
                                            {% else %}
                                    <span>Sold Out-</span>
                                {% endif %}
                                <div class="product-price">                                            
                                    <div class="compare-price">{{ current_variant.compare_at_price |  money_without_trailing_zeros }}</div>                                                                                          
                                    <div class="price">{{ current_variant.price |  money_without_trailing_zeros }}</div>                                                                                            
                                </div> 
                                <div class="loader">
                                    <img src="//cdn.shopify.com/s/files/1/0046/3716/3633/files/loader.gif?v=1772538563" alt="" width="" height="">
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("change", function(e) {
       if (e.target.matches(".v_radio, .f_radio")) {
            const parentWrapper = e.target.closest(".flock_options");
            parentWrapper.querySelectorAll(".gt-prod-var-box-sub")
            .forEach(box => box.classList.remove("active"));
            e.target.closest(".gt-prod-var-box-sub")
            .classList.add("active");
        }
    });
</script>

<script>
   
    function filterFlockOptions(){

        let chicken = $('.chicken_size input:checked').val();
        $('.bag_size .flock_options:visible .gt-prod-var-box-sub').hide();
        let freqType = $('.bb_frequancy_inner input:checked').val();
        let radios;
        if(freqType == 'subscribe'){
            radios = $('.bag_size .flock_options.subscribe input');
        }else{
            radios = $('.bag_size .flock_options.one_time input');
        }

        let firstVisible = null;

        radios.each(function(){

            let optionChicken = $(this).data('chicken');

            if(optionChicken == chicken){

                $(this).closest('.gt-prod-var-box-sub').show();

                if(!firstVisible){
                    firstVisible = this;
                }
            }

        });

        if(firstVisible){
            $(firstVisible).prop('checked', true);
            $('.bag_size .gt-prod-var-box-sub').removeClass('active');
            $(firstVisible).closest('.gt-prod-var-box-sub').addClass('active');
        }
    }

    function updateProductUI(){
        // page load variant select
        updateVariant();

        // price update
        updatePrice();

        // stock check
        let selected = $('.bag_size .flock_options:visible input:checked');
        let instock = selected.attr('data-instock');

        if(instock == 'false'){

            $('.product-form__submit')
            .prop('disabled', true)
            .find('span')
            .text('Sold Out');

        }else{

            $('.product-form__submit')
            .prop('disabled', false)
            .find('span')
            .text('Add to cart-');

        }
    }
    
    function updatePrice(){
        let fre_op = $('.bb_frequancy_inner input:checked').val();
        let selected;

        if(fre_op == 'subscribe'){
            selected = $('.bag_size .flock_options.subscribe input:checked');
        }else{
            selected = $('.bag_size .flock_options.one_time input:checked');
        }
        
        let price;
        let compare_price = selected.attr('data-compareat-price');


        if(fre_op == 'subscribe'){
            price = selected.attr('data-selling-price');
        }else{
            price = selected.attr('data-original-price');
        }
       
        $('.product-form__submit .price').text(price);

        if(compare_price){
            $('.product-form__submit .compare-price')
            .text(compare_price)
            .show();
        }else{
            $('.product-form__submit .compare-price').hide();
        }

    }

    function updateVariant(){

        let chicken_size = $('.chicken_size input:checked').val();
        let flock_input  = $('.bag_size .gt-prod-var-box-sub:visible input:checked');
        let flock_size   = flock_input.val();

        if(!chicken_size || !flock_size) return;

        let variant_title = chicken_size + ' / ' + flock_size;

        let option = $('.select-variant option').filter(function(){
            return $(this).text() === variant_title;
        });

        if(option.length){

            let variant_id = option.val();

            $('.select-variant').val(variant_id).trigger('change');
            $('.product-variant-id').val(variant_id);

            /* ---------- STOCK CHECK ---------- */

            let instock = flock_input.attr('data-instock');

            if(instock == 'false'){

                $('.product-form__submit')
                .attr('disabled', true)
                .find('span').text('Sold Out');

            }else{

                $('.product-form__submit')
                .removeAttr('disabled')
                .find('span').text('Add to cart-');

            }
        }
    }
window.addEventListener("load", function(){
    setTimeout(function(){
        // default state
        $('.flock_options.one_time').hide();
        $('.flock_options.subscribe').show();
        console.log('FULL PAGE LOADED');
        filterFlockOptions();
        updateProductUI();
        $(document).on('change', '.f_radio', function(){
            updateProductUI();
        });

        $(document).on('change', '.v_radio', function(){
            filterFlockOptions();
            updateProductUI();
        });
                                    
        $(document).on('click', '.bb_frequancy_inner .bbfreq_radio_wrapper input', function(){
            let type = $(this).val();

            if(type == 'onetime'){
                $('.flock_options.one_time').show();
                $('.flock_options.subscribe').hide();
            }else{
                $('.flock_options.one_time').hide();
                $('.flock_options.subscribe').show();
            }
            filterFlockOptions();
            updateVariant();
            updatePrice();
            updateProductUI(); // important            
        });

        $('.product-form__submit').on('click',function(e){
            e.preventDefault();
            let $this = $(this);
            if($this.is(':disabled')) return;

            $this.prop('disabled',true);
            $this.find('.loader').addClass('show');

            var itemsArray = [];
            let var_id = $('.product-variant-id').val();
            var fre_op =  $('.bb_frequancy_inner .bbfreq_radio_wrapper input:checked').val();

            if(fre_op == 'onetime'){
                itemsArray.push({
                    id: var_id,
                    quantity: 1
                });
            }else{
             let selling_plan_id = $('.bag_size .flock_options.subscribe input:checked').data('selling-plan');

                itemsArray.push({
                    id: var_id,
                    quantity: 1,
                    selling_plan: selling_plan_id
                });
            }

            $.ajax({
                url: '/cart/add.js',
                method: "POST",
                dataType: "JSON",
                data: { items: itemsArray },
                success: function (data) {
                    fetch(`${window.location.pathname}?sections=cart-drawer,cart-icon-bubble`)
                        .then(response => response.json())
                        .then((sections) => {

                        const cartDrawer = document.querySelector('cart-drawer');

                        cartDrawer.renderContents({
                            id: data.id,
                            sections: {
                                'cart-drawer': sections['cart-drawer'],
                                'cart-icon-bubble': sections['cart-icon-bubble']
                            }
                        });

                    });

                },

                error: function () {

                    alert('Something went wrong. Please try again.');

                },

                complete: function(){

                    $this.find('.loader').removeClass('show');
                    $this.prop('disabled', false);

                }

            });

        });
    },200);
    });

</script>
 <script>
    window.addEventListener("load", function () {
        const sectionToMove = document.querySelector('#buy_box_form');
        const targetSection = document.querySelector('[data-extra-section="add-on"]');

        if (sectionToMove && targetSection) {
            targetSection.after(sectionToMove);
        }
    });
</script>
{% schema %}
{
    "name": "PDP Buy Box Hen harmoney",
    "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "product"
        },
         {
            "type": "textarea",
            "id": "subsbenifit",
            "label": "Subscription benifit Info",
            "default": "<p>🎁 Bonus First Order Discount, Then 10% Off For Life</p><p>🔄 No Contract – Easily Pause Or Cancel</p><p>🚚 Free Shipping Protection</p><p>🐔 Exclusive Access To New Products</p><p>💰 30 Day Money-Back Guarantee</p>"
        }
    ],
    "presets": [
        {
        "name": "PDP Buy Box Hen harmoney"
        }
    ]
}
{% endschema %}