{{ 'pdp-buy-box.css' |  asset_url |  stylesheet_tag  }}
<style>
    .loader{
        position: absolute;
        display: none;
    }
    .product-form__submit{
        position: relative;
    }
</style>
<section class="new_pdp_buy_box">
    <div class="buy_box_wrapper">
        {% assign selected_product = section.settings.product %}
        {%- assign current_variant = selected_product.selected_or_first_available_variant -%}
        <div class="container">
            <div class="buy_box_innerwrapper">
                <div class="buy_box_image">
                    <div class="img_slider js-for-image-slider">
                        {% for image in selected_product.images %}
                            <div class="for_item">
                                <img src="{{  image.src | image_url: width: 580, height: 580 }}" alt="{{ product.title }}" width="" height="">                        
                            </div>
                        {% endfor %}                       
                    </div>
                    <div class="img_nav_slider js-nav-image-slider">
                        {% for image in selected_product.images %}
                            <div class="nav_item">
                                <img src="{{  image.src | image_url: width: 60, height: 60 }}" alt="{{ product.title }}" width="60px" height="60px">
                            </div>
                        {% endfor %}               
                    </div>
                </div>
                <div class="buy_box_content">
                    <div class="bb_content_inner">
                        <div class="dicount_lable">
                            <p>⚠️ Limited Time Discount!</p>
                        </div>
                        <div class="sub_text">
                            <p>🔥 <b>300+ bought</b> in past month</p>
                        </div>
                        <div class="title">
                            <h2>{{  selected_product.title }}</h2>
                        </div>
                        <div class="bb_desc">
                            <ul>
                                <li><img src="https://assets.replocdn.com/projects/fdd5614c-e48f-4183-abe2-06ecde4315b2/96fd2f96-f752-4682-bc6f-4b98a5cb791d" alt="{{ prodcut.title }}" width="100px" height="100px"><span>Supports Gut Health</span></li>
                                <li><img src="https://assets.replocdn.com/projects/fdd5614c-e48f-4183-abe2-06ecde4315b2/96fd2f96-f752-4682-bc6f-4b98a5cb791d" alt="{{ prodcut.title }}" width="100px" height="100px"><span>Strength During Stress</span></li>
                                <li><img src="https://assets.replocdn.com/projects/fdd5614c-e48f-4183-abe2-06ecde4315b2/96fd2f96-f752-4682-bc6f-4b98a5cb791d" alt="{{ prodcut.title }}" width="100px" height="100px"><span>Made In USA</span></li>
                            </ul>
                        </div>
                        <div class="product_reiews">
                           <a href="#looxReviews"><div class="loox-rating" data-id="{{ selected_product.id }}" data-rating="{{ selected_product.metafields.loox.avg_rating }}" data-raters="{{ selected_product.metafields.loox.num_reviews }}"></div></a>
                        </div>
                        <div class="product_info">
                            <p>Environmental stress, temperature swings, and daily laying demands place constant strain on your hens’ internal systems. HenHarmony™ supports hydration, digestive function, and gut balance to help your flock remain resilient and consistent through seasonal and environmental stress.</p>
                        </div>
                        <div class="but_box_main">
                            <div class="bb_title">
                                <h2>1. Choose your flock size</h2>
                            </div>
                            <div class="flock_size_wrapper">
                                <div class="flock_options one_time"  style="display: none;">
                                    
                                    {% for variant in selected_product.variants %}                                  
                                         {% assign forloop_index_count1 = forloop.index %}
                                        <div class="gt-prod-var-box-sub {% if forloop.first %} active {% endif %}">
                                            <div class="flock_item">
                                                <input type="radio" class="v_radio" name="flock-size" id="{{  variant.title |  downcase |  replace:  ' ','-' }}" 
                                                    data-v-title="{{ variant.title  }}"
                                                    data-v-id="{{ variant.id }}"
                                                    data-v-price="{{ variant.price | money_without_trailing_zeros }}"
                                                    {% for allocation in variant.selling_plan_allocations %}
                                                        {% if forloop_index_count1 == forloop.index %}                                                                
                                                            {% assign original_price = current_variant.price | times: forloop_index_count1 %}
                                                            {% assign selling_price = allocation.price_adjustments[0].price %}
                                                            data-original-price="{{ original_price |  money }}"  
                                                            data-subs-price="{{ selling_price |  money }}"    
                                                            {% assign price_diff = original_price | minus: selling_price %}
                                                            {% assign discount_percentage = price_diff | times: 100 | divided_by: original_price %}
                                                            data-discount="{{ discount_percentage }}%"  
                                                            {% assign sav_price = variant.compare_at_price |  minus: variant.price  %}
                                                            data-save-price="{{ sav_price |  money }}"
                                                        {% endif %}
                                                    {% endfor %}
                                                    data-comp-price="{{ variant.compare_at_price | money_without_trailing_zeros  }}" 
                                                    {% unless variant.available %} {% endunless %}>  
                                                <div class="gt-prod-var-content">
                                                    <label for="{{  variant.title |  downcase |  replace:  ' ','-' }}">
                                                        <div class="flock_info">
                                                            <div class="f_size">
                                                                <p>{{  variant.title }}</p>
                                                            </div>
                                                            <div class="p_size">
                                                                {% if forloop.first %}
                                                                    <p>1 Pouch</p>
                                                                {% elsif forloop.index == 2 %}
                                                                    <p>2 Pouches</p>
                                                                {% elsif forloop.index == 3 %}
                                                                    <p>3 Pouches</p>
                                                                {% elsif forloop.index == 4 %}
                                                                    <p>4 Pouches</p>
                                                                {% else %}
                                                                    <p>1 Pouch every 5 chicken</p>
                                                                {% endif %}
                                                            </div>
                                                            {% if variant.compare_at_price > variant.price %}
                                                                <div class="save-price">
                                                                    {% assign save_price = variant.compare_at_price  |  minus: variant.price  %}
                                                                    <p>Save {{ save_price |  money_without_trailing_zeros }}</p>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </label>
                                                </div>                                            
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                    <div class="flock_options subscribe_save">
                                    
                                    {% for variant in selected_product.variants %}                                  
                                        {% assign forloop_index_count = forloop.index %}
                                        <div class="gt-prod-var-box-sub {% if forloop.first %} active {% endif %}">
                                            <div class="flock_item">
                                                    <input type="radio" class="v_radio" name="flock-size-ss" id="ss-{{  variant.title |  downcase |  replace:  ' ','-' }}" {% if forloop.first %} checked{% endif %}
                                                    data-v-title="{{ variant.title  }}"
                                                    data-v-id="{{ variant.id }}"
                                                    data-v-price="{{ variant.price | money_without_trailing_zeros }}"
                                                    {% for allocation in variant.selling_plan_allocations %}
                                                        {% if forloop_index_count == forloop.index %}                                                                
                                                            {% assign original_price = current_variant.price | times: forloop_index_count %}
                                                            {% assign selling_price = allocation.price_adjustments[0].price %}
                                                        data-original-price="{{ original_price |  money }}"  
                                                        data-subs-price="{{ selling_price |  money }}"    

                                                        {% assign price_diff = original_price | minus: selling_price %}
                                                        {% assign discount_percentage = price_diff | times: 100 | divided_by: original_price %}
                                                        data-discount="{{ discount_percentage }}%"  
                                                        {% assign sav_price = variant.compare_at_price |  minus: selling_price  %}
                                                        data-save-price="{{ sav_price |  money }}"
                                                        {% endif %}
                                                    {% endfor %}

                                                    data-comp-price="{{ variant.compare_at_price | money_without_trailing_zeros  }}"                                                        
                                                    {% unless variant.available %} {% endunless %}                                       
                                                    >  
                                                <div class="gt-prod-var-content">
                                                    <label for="ss-{{  variant.title |  downcase |  replace:  ' ','-' }}">
                                                        <div class="flock_info">
                                                            <div class="f_size">
                                                                <p>{{  variant.title }}</p>
                                                            </div>
                                                            <div class="p_size">
                                                                {% if forloop.first %}
                                                                    <p>1 Pouch</p>
                                                                {% elsif forloop.index == 2 %}
                                                                    <p>2 Pouches</p>
                                                                {% elsif forloop.index == 3 %}
                                                                    <p>3 Pouches</p>
                                                                {% elsif forloop.index == 4 %}
                                                                    <p>4 Pouches</p>
                                                                {% else %}
                                                                    <p>1 Pouch every 5 chicken</p>
                                                                {% endif %}
                                                            </div>
                                                            {% for allocation in variant.selling_plan_allocations %}
                                                                {% if forloop_index_count == forloop.index %}
                                                                   
                                                                    {% assign original_price = current_variant.price | times: forloop_index_count %}
                                                                    {% assign selling_price = allocation.price_adjustments[0].price %}

                                                                    {% assign price_diff = original_price | minus: selling_price %}
                                                                    {% assign discount_percentage = price_diff | times: 100 | divided_by: original_price %}
                                                                    
                                                                    <div class="save-price">
                                                                       <p>Save {{ discount_percentage }}%</p>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </label>
                                                </div>                                            
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                             <div class="bb_title">
                                <h2>2. Choose your frequency</h2>
                            </div>
                            <div class="bb_frequancy_wrapper">
                                <div class="bb_frequancy_inner">
                                    <div class="bbfreq_radio_wrapper">
                                        <div class="subs_label_inner">
                                            <img class="best_val_img" width="21" height="21" src="//roostys.co/cdn/shop/files/chicken.png?v=1764139363">  
                                        <span>Best Value</span>
                                        </div>
                                        <input type="radio" id="subcribe" name="frequancy-radio" checked="checked" value="subscribe">
                                        <label for="subcribe" class="subscribe-label">
                                            <div class="frq_info">
                                                <p>Subscribe & save 20%                                                    
                                                    <div class="save-price">Save $6.56</div>
                                                </p>
                                                <span class="ss-price">{{ current_variant.price |  money_without_trailing_zeros }}</span>
                                                <span class="ss-comp-price">{{ current_variant.compare_at_price |  money_without_trailing_zeros }}</span>

                                            </div>
                                            <div class="frequancy_details">
                                                <select name="select_frequancy" id="frquancy">
                                                     {% for group in selected_product.selling_plan_groups %}
                                                        {% for plan in group.selling_plans %}
                                                            {% assign subloop = forloop.index %}
                                                                <option value="{{ plan.id }}" {% if subloop == 1 %} selected="selected"{% endif %}>
                                                                    {{ plan.name }}
                                                                </option>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </select>
                                                <div class="ss_info_wrapper">
                                                    <p>🎁Bonus First Order Discount, Then 10% Off For Life</p>
                                                    <p>🔄 No Contract – Easily Pause Or Cancel</p>
                                                    <p>🚚 Free Shipping Protection</p>
                                                    <p>📙 Free Health Guide & $10 Gift Card</p>
                                                    <p>📱 Free Egg Tracker App</p>
                                                    <p>🐔 Exclusive Access To New Products</p>
                                                    <p>💰 30 Day Money-Back Guarantee</p>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="bbfreq_radio_wrapper">
                                        <input type="radio" id="one-time" name="frequancy-radio" value="onetime">
                                        <label for="one-time" class="one-time-label">
                                            <div class="frq_info">
                                                <p>One Time Purchase</p>
                                                <span class="ot-price">{{ current_variant.price |  money_without_trailing_zeros }}</span>
                                            </div>
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> 
                        <form method="post" action="{{ routes.cart_url }}" id="buy_box_form" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form">
                            <input type="hidden" name="form_type" value="product">
                            <input type="hidden" name="utf8" value="✓">
                            <input type="hidden" name="id" value="{{  current_variant.id }}" class="product-variant-id">
                            <div class="product-form__buttons ">
                                <button id="ProductSubmitButton-template--19995845492930__main" type="submit" name="add" class="product-form__submit button button--full-width button--primary" aria-haspopup="dialog">
                                    {% if current_variant.available %} 
                                        <span>Add to cart </span>
                                             {% else %}
                                        <span>Sold Out</span>
                                    {% endif %}
                                    <div class="product-price">                                            
                                        <div class="compare-price">{{ current_variant.compare_at_price |  money_without_trailing_zeros }}</div>                                                                                          
                                        <div class="price">{{ current_variant.price |  money_without_trailing_zeros }}</div>                                                                                            
                                    </div> 
                                    {% comment %} <div class="loader">
                                        <img src="//cdn.shopify.com/s/files/1/0046/3716/3633/files/loader.gif?v=1772538563" alt="" width="" height="">
                                    </div> {% endcomment %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("change", function(e) {
        if (e.target.classList.contains("v_radio")) {

            document.querySelectorAll(".gt-prod-var-box-sub")
            .forEach(box => box.classList.remove("active"));

            e.target.closest(".gt-prod-var-box-sub")
            .classList.add("active");
        }
    });
</script>
{% schema %}
{
    "name": "PDP Buy Box",
    "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "product"
        }
    ],
    "presets": [
        {
        "name": "PDP Buy Box"
        }
    ]
}
{% endschema %}